body{
    background-color: white;
}

.form-container{
    text-align: center;
    margin: 20px;
}

.input-form{
    border: none;
    height: 25px;
    
}

.btn-form{
    color: #fff;
    background-color: #64a2d8;
    border: none;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    width: 100px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-evenly;
}

.card {
    flex: none;
    width: 20%;
    height: auto;
    margin-left: 1px;
    margin-bottom: 15px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 2px 2px 2px grey;

}

.card-img{
    height: 50%; 
    width: 90%;  
}

.card-h4{
    margin: 1%;

}

.paginationdiv{
    justify-content: center;
    text-align: center;
}

.btn-prev, .btn-next{
    color: #fff;
    background-color: #337ab7;
    border: none;
    border-color: #2e6da4;
    border-radius: 6px;
    margin: 10px;
    padding: 12px;
    font-size: 20px;
    width: 150px;
}

.btn-prev:hover, .btn-next:hover{
    color: #fff;
    background-color: #64a2d8;
}

.btn-prev:active, .btn-next:active{
color: #fff;
background-color: #64a2d8;
transform: translateY(
    1px
);
}
